* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #313131;
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#user {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#addUser {
  display: block;
}
